name: Code quality

on:
  merge_group:
  pull_request:
  push:
    branches:
      - main

jobs:
  android-lint:
    name: Android Lint
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - module: 'data'
          - module: 'dataprovider-paging'
          - module: 'dataprovider-retrofit'
          - module: 'dataproviderdemo'
    steps:
      - uses: actions/checkout@v5
      - name: Set up JDK 17
        uses: actions/setup-java@v5
        with:
          java-version: '17'
          distribution: 'temurin'
      - uses: gradle/actions/setup-gradle@v4
      - name: Run Android Lint
        run: ./gradlew ${{ matrix.module }}:lintDebug
      - uses: github/codeql-action/upload-sarif@v3
        if: ${{ !cancelled() }}
        with:
          sarif_file: build/reports/android-lint/${{ matrix.module }}.sarif
          category: android-lint-${{ matrix.module }}

  detekt:
    name: Detekt
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Set up JDK 17
        uses: actions/setup-java@v5
        with:
          java-version: '17'
          distribution: 'temurin'
      - uses: gradle/actions/setup-gradle@v4
      - name: Run Detekt
        run: ./gradlew detekt
      - uses: github/codeql-action/upload-sarif@v3
        if: ${{ !cancelled() }}
        with:
          sarif_file: build/reports/detekt.sarif
          category: detekt

  unit-test:
    name: Unit Test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Set up JDK 17
        uses: actions/setup-java@v5
        with:
          java-version: '17'
          distribution: 'temurin'
      - uses: gradle/actions/setup-gradle@v4
      - name: Run Unit Tests
        run: ./gradlew testDebug

  maven-local-publication:
    name: Publish to Maven Local
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Set up JDK 17
        uses: actions/setup-java@v5
        with:
          java-version: '17'
          distribution: 'temurin'
      - uses: gradle/actions/setup-gradle@v4
      - name: Publish to Maven Local
        run: ./gradlew publishToMavenLocal
